#services-section {
  width: 100%;
  height: 100%;
  background-color: var(--gray-bg);

  position: relative;
  top: -155px;
  padding-top: 103px;
  padding-bottom: 160px;

  .services-text {
    margin: 160px auto 64px auto;
    text-align: center;
    max-width: 497px;
    display: grid;
    gap: 16px;
  }

  .services-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;

    .item-card {
      display: grid;
      gap: 16px;
      padding: 24px;
      background: var(--gray-white);
      border: 1px solid var(--brand-purple-light2);
      border-radius: 6px;
    }
  }
}

@media screen and (max-width: 1024px) {
  #services-section {
    width: 100%;
    padding-top: 218px;
    padding-bottom: 100px;
    top: -218px;

    .services-text {
      margin: 100px auto 60px auto;

      .subtitle {
        font-size: 30px;
      }
    }

    .services-cards {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (max-width: 768px) {
  #services-section {
    width: 100%;
    padding-bottom: 100px;

    .services-text {
      margin: 100px auto 60px auto;
    }

    .services-cards {
      grid-template-columns: 1fr;
    }
  }
}