:root {
  // primary colors
  --brand-purple: #331983;
  --brand-purple-light: #5F3DC4;
  --brand-purple-light2: #E5DBFF;
  --brand-purple-soft: #F3F0FF;
  
  // secundary colors
  --gray-headline: #212529;
  --gray-paragraph: #495057;
  --gray-bg: #F9F9F9;
  --gray-white: #FFFFFF;

  // primary hover color
  --brand-purple-hover: #1B0D45;
}